<%= form_for([@user, @profile]) do |f| %>
        <% if @profile.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@profile.errors.count, "error")%>
                prohibited this review from being saved:</h2>
                <ul>
                    <% @profile.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="form-row">
            <div class="form-group col-md-4">
                <%= f.label :fname, 'First Name' %>
                <%= f.text_field :fname , class: 'form-control'%>
            </div>
            <div class="form-group col-md-4">
                <%= f.label :sname, 'Second Name' %>
                <%= f.text_field :sname, class: 'form-control'%>
            </div>
            <div class="form-group col-md-4">
                <%= f.label :role, 'Role' %>
                <%= f.select :role, options_for_select([['Select...', 1], ['Writer', 'Writer'], ['Reader', 'Reader']]), {}, {class: 'form-control' }%> 
            </div>
        </div>
        <div class="form-group">
            <%= f.label :fname, 'Bio' %>
            <%= f.text_area :bio, class: 'form-control', rows: '6'%>
        </div>
        <div class="form-group">
            <%= f.submit ('Create'), class: 'btn btn-primary' %>
        </div>
<% end %>
