<div>Heyyy</div>
<div>
    <h3><%= @user.username %></h3>
    <h4><%= @profile.fname %>   <%= @profile.sname %></h4>
    <h5> <%= @profile.role %></h5>
</div>
<div>
    <p>
        <%= @profile.bio %>
    </p>
    <div class="row">
        <div class="col-lg-1"> 
            <%= link_to 'Edit', class: 'nav-link custom-nav'%>
        </div>

        <div class="col-lg-2"> 
            <%= link_to 'Delete', class: 'nav-link custom-nav'%>
        </div>
    </div>
</div>

