<div class="card-content-container">
    <div class="card">
      <div class="card-header">
        <h5><%= content["webTitle"]%></h5>
      </div>
      <div class="card-body"> 
        <p><%= content["type"]%></p>
        <p><%= content["sectionName"]%></p>
        <p><%= content["webPublicationDate"]%></p>
        <a href=<%= content["webUrl"] %> class="btn btn-primary">Link</a>
      </div>
    </div>
</div>