<%= stylesheet_link_tag 'style' %>
<div class="container"> 
  <h1 class="heading">Breaking news</h1>
  <div>
    <%= form_tag(search_url, method: 'get', class: 'form') do %>
      <div class="form-row">
          <div class="form-group col-lg-10">
              <%= text_field_tag :search_value, rows='10', class: 'form-control' %>
          </div>
          <div class="form-group col-lg-2">
              <%= submit_tag("Search", class: 'form-control comment-btn')%>
          </div>
      </div>
    <% end %>
  </div>

  <div>
    <% if @previous_search != '' %>
      <h3>Becuase you viewed: <%= @previous_search %> </h3>
      <% @recommended_news["newsApiRecommendationResponse"]["articles"].each do |content| %>
        <div class="card-content-container"> 
          <div class="card">
            <div class="card-header">  
              <h5><%= content["title"] %></h5>
              <h6>- <%= content["source"]["name"] %></h6>
            </div>
            <div class="card-body"> 
              <p><%= content["description"] %></p>
              <p><%= content["publishedAt"] %></p>
              <a href=<%= content["url"] %> class="btn btn-primary">Link</a>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <h3>Daily news</h3>
  <% @news["newsApiResponse"]["articles"].each do |content| %>
    <div class="card-content-container"> 
      <div class="card">
        <div class="card-header">  
          <h5><%= content["title"] %></h5>
          <h6>- <%= content["source"]["name"] %></h6>
        </div>
        <div class="card-body"> 
          <p><%= content["description"] %></p>
          <p><%= content["publishedAt"] %></p>
          <a href=<%= content["url"] %> class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
  <% end %>

  <% @news["guardianApiResponse"]["response"]["results"].each do |content| %>
    <div class="card-content-container">
      <div class="card">
        <div class="card-header">
          <h5><%= content["webTitle"]%></h5>
        </div>
        <div class="card-body"> 
          <p><%= content["type"]%></p>
          <p><%= content["sectionName"]%></p>
          <p><%= content["webPublicationDate"]%></p>
          <a href=<%= content["webUrl"] %> class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
  <% end %>
</div>


