<%= stylesheet_link_tag 'style' %>
<div class="container heading"> 
  <div>
    <%= form_tag(search_url, method: 'get', class: 'form') do %>
      <div class="form-row">
          <div class="form-group col-lg-10">
              <%= text_field_tag :search_value, rows='10', class: 'form-control' %>
          </div>
          <div class="form-group col-lg-2">
              <%= submit_tag("Search", class: 'form-control comment-btn')%>
          </div>
      </div>
    <% end %>
  </div>

  <div>
    <% if @previous_search %>
        <h3 class="heading">Because you viewed: <%= @previous_search %> </h3>
        <% if @recommended_news["newsApiRecommendationResponse"]["articles"].blank? %>
          <p>Sorry! No recommendations. Please search for other news or check your search term again.</p>
        <% else %>
          <% @recommended_news["newsApiRecommendationResponse"]["articles"].each do |content| %>
            <%= render partial: 'news_api', locals:{content: content}%>
          <% end %>
        <% end %>
    <% end %>
  </div>

  <h3 class="heading">Breaking news</h3>
  
  <% @news["newsApiResponse"]["articles"].each do |content| %>
    <%= render partial: 'news_api', locals:{content: content}%>
  <% end %>

  <% @news["guardianApiResponse"]["response"]["results"].each do |content| %>
    <%= render partial: 'guardian_api', locals:{content: content}%>
  <% end %>
</div>


