<%= form_with(model: news_writer, local: true) do |form| %>
  <% if news_writer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news_writer.errors.count, "error") %> prohibited this news_writer from being saved:</h2>

      <ul>
      <% news_writer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :firstName %>
    <%= form.text_field :firstName %>
  </div>

  <div class="field">
    <%= form.label :secondName %>
    <%= form.text_field :secondName %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_field :bio %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
