<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @news_writer.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @news_writer.password %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @news_writer.firstName %>
</p>

<p>
  <strong>Secondname:</strong>
  <%= @news_writer.secondName %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @news_writer.bio %>
</p>

<p>
  <strong>Role:</strong>
  <%= @news_writer.role %>
</p>

<%= link_to 'Edit', edit_news_writer_path(@news_writer) %> |
<%= link_to 'Back', news_writers_path %>
